@charset "utf-8";
/* CSS Document */

@font-face 
{
	font-family: gothambook;
	src: url("../font/gothambook.otf");
}

table,td,tr
{
	family-face: gothambook; !important
}

table,th,td,tr
{
	border:1px solid black;
	border-collapse:collapse;
	text-align:left;
	font-family: gothambook;
}

span
{
	font-family: gothambook;
}
.periodstyle
{
	background-color:#666666;
	width: 150px;
	height:70px;
	color:#fff;
	padding-left:10px;
}

.periodbold
{
	font-size:20px;
	font-weight:bold;
	font-family: gothambook;
}

.classbold
{
	font-size:24px;
	font-weight:bold;	
	font-family: gothambook;
}

.filler
{
	background-color:#222222;
	color:#fff;
	padding-left:10px;
	height:30px;
	font-weight:bold;
}
.timefont
{
	font-size:14px;
}

/* Variable Subjects */

.noclass
{
	width:200px;
	padding-left:10px;
	background-color: #666666;
	color: #fff;
}

.Sport
{
	width:200px;
	padding-left:10px;
}


.Mathematics
{
	width:200px;
	padding-left:10px;
	background-color:#b52828; /* Crimson Red */
	color:#fff;
}

.English
{
	width:200px;
	padding-left:10px;
	background-color:#6dd0f7; /* Light Blue */
	color:#fff;	
}

.History
{
	width:200px;
	padding-left:10px;
	background-color:#cfd03e; /* Olive Yellow */
	color:#fff;	
}

.Science
{
	width:200px;
	padding-left:10px;
	background-color:#7cc576; /* Light Green */
	color:#fff;	
}

.French
{
	width:200px;
	padding-left:10px;
	background-color:#754c24; /* Deep Brown */
	color:#fff;		
}

.IPT
{
	width:200px;
	padding-left:10px;
	background-color:#662d91; /* Rich Purple */
	color:#fff;	
}

.Business
{
	width:200px;
	padding-left:10px;
	background-color:#662d91; /* Rich Purple */
	color:#fff;	
}

.Greek
{
	width:200px;
	padding-left:10px;
	background-color:#7282B2; /* Murky Blue */
	color:#fff;	
}

.Indonesian
{
	width:200px;
	padding-left:10px;
	background-color:#7282B2; /* Murky Blue */
	color:#fff;
		
}

.IndonesianX
{
	width:200px;
	padding-left:10px;
	background-color:#7282B2; /* Murky Blue */
	color:#fff;
		
}

.Japanese
{
	width:200px;
	padding-left:10px;
	background-color:#FF8400; /* Deep Orange */
	color:#fff;	
}

.JapaneseX
{
	width:200px;
	padding-left:10px;
	background-color:#FF8400; /* Deep Orange */
	color:#fff;	
}

.PowerSystems
{
	width:200px;
	padding-left:10px;
	background-color:#86A6B2; /* Grey Blue */
	color:#fff;	
}

.TechDrawing
{
	width:200px;
	padding-left:10px;
	background-color:#178F5F; /* Blue Green */
	color:#fff;	
}

.Legal
{
	width:200px;
	padding-left:10px;
	background-color:#CC745D; /* Light Brown */
	color:#fff;	
}

.Woodwork
{
	width:200px;
	padding-left:10px;
	background-color:#CC745D; /* Light Brown */
	color:#fff;	
}

.German
{
	width:200px;
	padding-left:10px;
	background-color:#BC2979; /* Reddy Pink */
	color:#fff;	
}

.GermanX
{
	width:200px;
	padding-left:10px;
	background-color:#BC2979; /* Reddy Pink */
	color:#fff;	
}

.fourumaths
{
	width:200px;
	padding-left:10px;
	background-color:#BC7491; /* Clay Pink */
	color:#fff;	
}

.twoumaths
{
	width:200px;
	padding-left:10px;
	background-color:#2639B2; /* Deep Blue */
	color:#fff;	
}

.EnglishX
{
	width:200px;
	padding-left:10px;
	background-color:#6E56B2; /* Light Purple */
	color:#fff;	
}

.threeuenglish
{
	width:200px;
	padding-left:10px;
	background-color:#56B28F; /* Turqouisey */
	color:#fff;	
}

.fouruenglish
{
	width:200px;
	padding-left:10px;
	background-color:#E3B200; /* Rich Yellow */
	color:#fff;	
}

.Photography
{
	width:200px;
	padding-left:10px;
	background-color:#B7B8BC; /* Grey */
	color:#fff;	
}

.SDD
{
	width:200px;
	padding-left:10px;
	background-color:#662d91; /* Grassy Green */
	color:#fff;	
}

.Commerce
{
	width:200px;
	padding-left:10px;
	background-color:#7282B2; /* Murky Blue */
	color:#fff;	
}

.Physics
{
	width:200px;
	padding-left:10px;
	background-color:#D756E3; /* Pinky Purple */
	color:#fff;	
}

.Chemistry
{
	width:200px;
	padding-left:10px;
	background-color:#D756E3; /* Light Red */
	color:#fff;	
}

.Biology
{
	width:200px;
	padding-left:10px;
	background-color:#662d91; /* Light Green */
	color:#fff;	
}

.Engineering
{
	width:200px;
	padding-left:10px;
	background-color:#397FE3; /* Medium Blue */
	color:#fff;	
}

.Latin
{
	width:200px;
	padding-left:10px;
	background-color:#8F8972; /* Browny Grey */
	color:#fff;	
}

.LatinX
{
	width:200px;
	padding-left:10px;
	background-color:#8F8972; /* Browny Grey */
	color:#fff;	
}

.DT
{
	width:200px;
	padding-left:10px;
	background-color:#0075FF; /* Blue */
	color:#fff;	
}

.PDHPE
{
	width:200px;
	padding-left:10px;
	background-color:#4299FF; /* Light Blue */
	color:#fff;	
}

.Music
{
	width:200px;
	padding-left:10px;
	background-color:#86498F; /* Purplely*/
	color:#fff;	
}

.VisualArts
{
	width:200px;
	padding-left:10px;
	background-color:#FF7400; /* Orange */
	color:#fff;	
}

.Geography
{
	width:200px;
	padding-left:10px;
	background-color:#008F8E; /* Deepy Blue Green */
	color:#fff;	
}

.PASS
{
	width:200px;
	padding-left:10px;
	background-color:#5B7CFF; /* Bluey */
	color:#fff;	
}

.FoodTech
{
	width:200px;
	padding-left:10px;
	background-color:#CC3F80; /* Reddy Pink */
	color:#fff;	
}

.HistoryX
{
	width:200px;
	padding-left:10px;
	background-color:#FFCE70; /* Yellowy */
	color:#fff;	
}

.Drama
{
	width:200px;
	padding-left:10px;
	background-color:#B212AA; /* Rich Purple */
	color:#fff;	
}

.ModernH
{
	width:200px;
	padding-left:10px;
	background-color:#FFF06D; /* Lighter Yellowy */
	color:#fff;	
}

.AncientH
{
	width:200px;
	padding-left:10px;
	background-color:#848F82; /* Grey */
	color:#fff;	
}

.Careers
{
	width:200px;
	padding-left:10px;
	background-color:#63CC81; /* Greeny idk */
	color:#fff;	
}

.Library
{
	width:200px;
	padding-left:10px;
	background-color:#60CC81; /* Greeny idk */
	color:#fff;	
}

.Economics
{
	width:200px;
	padding-left:10px;
	background-color:#FFA36D; /* Orangey */
	color:#fff;	
}